<form action="/user/update/{{ user.id }}" method="POST">
    <input type="hidden" name="_method" value="PUT">
  <table>
    <tr>
      <td>Name : </td>
      <td><input type="text" name="name" value="{{ user.name }}"></td>
    </tr>

    <tr>
      <td>Phone : </td>
      <td><input type="text" name="phone" value="{{ user.phone }}"></td>
    </tr>

    <tr>
      <td>Address : </td>
      <td><textarea name="address">{{ user.address }}</textarea></td>
    </tr>

  </table>
    <input type="submit" value="Create">
</form>
